langchain
langchain-classic
langchain-community
langchain-openai
langchain-chroma
langchain-huggingface
langchain-text-splitters
chromadb
sentence-transformers
streamlit
pypdf
python-dotenv
pytesseract
pdf2image
Pillow
